<p>Your score: {{score}}</p>

<section class='dice'>
  {{#each die in dice}}
    {{die-component value=die.textValue}}
  {{/each}}
</section>

<section class='action-buttons'>
  <button {{action 'roll' }}>Roll</button>
  <button {{action 'scoreDice'}}>Score</button>
</section>