<section class='dice'>
  {{#each die in dice}}
    {{die-component die=die}}
  {{/each}}
</section>

<section class='action-buttons'>
  <button {{action 'roll' }}>Roll</button>
  <button {{action 'scoreDice'}}>Score</button>
</section>