<section class='dice'>
  {{#each die in dice}}
    {{die-component value=die.value}}
  {{/each}}
</section>

<section class='action-buttons'>
  <button>Roll</button>
  <button>End Turn</button>
</section>