<section class='scoreboard'>
  {{#each participations}}
    <article class='player-score'>
      <span {{bind-attr class="isCurrentPlayer"}}>{{player.firstName}}</span>: {{score}}
    </article>
  {{/each}}
</section>