/* Put your CSS here */
@import "vendor/bourbon/dist/bourbon";
@import "vendor/bitters/app/assets/stylesheets/bitters";
@import "vendor/neat/app/assets/stylesheets/neat";

html, body {
    margin: 20px;
}

div.container {
  @include outer-container;
}

.scoreboard {
  margin-bottom: 10px;
}

.inline {
  display: inline-block;
}

.dice {
  margin-top: 5px;
  margin-bottom: 10px; 
}

.is-selected {
  border: 3px solid green;
  border-radius: 24px;
}

.is-current-player {
  background-color: green;
  color: white;
}

.die {
  width: 78px;
  height: 79px;
  display: inline-block;
  background-image: url('/assets/images/dice-white.svg');
}

.one {
  background-position: -42px -734px;
}

.two {
  background-position: -121px -734px;
}

.three {
  background-position: -201px -734px;
}

.four {
  background-position: -279px -734px;
}

.five {
  background-position: -358px -734px;
}

.six {
  background-position: -437px -734px;
}
