<h2 id='title'>Ember Dice</h2>

<section class='scoreboard'>
  <article class='player-score'>
    Player 1: 10 points
  </article>
  <article class='player-score'>
    Player 2: 20 points
  </article>
</section>

<section class='dice'>
  <article class='die one'></article>
  <article class='die two'></article>
  <article class='die four'></article>
  <article class='die three'></article>
  <article class='die five'></article>
  <article class='die six'></article>
</section>

<section class='action-buttons'>
  <button>Roll</button>
  <button>End Turn</button>
</section>