{{player-scoreboard participations = model.participations currentParticipation=model.currentParticipant }}

{{game-turn turn=model.currentTurn dice=dice}}

<button {{action 'newTurn' }}>End Turn</button>


{{outlet}}
