{{player-scoreboard participations = model.participations currentParticipation=model.currentParticipant }}

<p>Click on dice to reroll and score</p>

{{game-turn turn=model.currentTurn dice=dice action="endTurn"}}

{{outlet}}
