<h2 id='title'>Ember Dice</h2>

<section class='scoreboard'>
  <article class='player-score'>
    Player 1: 10 points
  </article>
  <article class='player-score'>
    Player 2: 20 points
  </article>
</section>

<section class='instructions'>
  <p>Click on the dice you want to roll</p>
</section>

<section class='dice'>
  {{#each itemController='index/die'}}
    <article {{bind-attr class=':die textValue isSelected'}} {{action "toggleSelected"}}>
    </article>
  {{/each}}
</section>

<section class='action-buttons'>
  <button {{ action 'roll' }}>Roll</button>
  <button>End Turn</button>
</section>

