<h2 id='title'>Ember Dice</h2>

<section class='scoreboard'>
  <article class='player-score'>
    Player 1: 10 points
  </article>
  <article class='player-score'>
    Player 2: 20 points
  </article>
</section>

<section class='instructions'>
  <p>Click on the dice you want to roll</p>
</section>

{{ dice-component dice=model }}
